.navbar{
    height: 80px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.nav-container{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-item{
    display: flex;
    justify-content: center;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.logo-title{
    font-weight: 500;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 29px;
    cursor: pointer;
}

.nav-button{
    margin-left: 15px;
    border: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}